<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ثبت رمز مسابقه</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body dir="rtl">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Petria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/user/scoreboard">جدول امتیازات </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/chat">چت<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/map">نقشه اردوگاه</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/user/gamePassword">ثبت رمز</a>                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/priority">ثبت اولویت‌ها</a>                    
                </li>
            </ul>
        </div>
    </nav>

    <div class="container text-center submitPassword">
        <form>
            <tbody>
                <tr>
                    <td>
                        <input type="text" id="password" placeholder="در این قسمت رمز مسابقه خود را وارد کنید" autocomplete="off">
                    </td>
                    <td>
                        <button onclick="passSubmit()">ثبت رمز</button>
                    </td>
                </tr>
            </tbody>
        </form>
    </div>
    <div class="container text-center responsive-table-sm submittedPass">
        <form>
            <table class="table" cellpadding=0 cellspacing=0>
                <th>شماره</th>
                <th>نام تیم</th>
                <th>رمز حدس زده</th>
                <th>امتیاز</th>
                <th>رای دادن</th>
                    <% if (gamePasses.length == 0) { %>
                        <tr>
                            رمزی برای نمایش وجود ندارد
                        </tr>

                    <% } %>
                    <% for (var i = 0; i < gamePasses.length; i++) {%>
                        
                            <tr>
                                <td>
                                    <%= i + 1 %>
                                </td>
                                <td>
                                    <%= gamePasses[i].teamName %>
                                </td>
                                <td>
                                    <%= gamePasses[i].password %>
                                </td>
                                <td>
                                    <%= gamePasses[i].votes %>
                                </td>
                                <td class="upvote">
                                    <i class="material-icons" onclick="vote('<%= gamePasses[i].password %>')">
                                        thumb_up
                                    </i>
                                </td>
                            </tr>
                        
                        
                <% } %>
            </form>
        </table>
    </div>
    <script>
        function vote(pass) {
            $.post('/user/vote/' + pass)
        }
        function passSubmit() {
            $.post('/user/gamePassword', {
                gamePassword: $('#password').val()
            }).done(() => {
                window.location.assign('/user/scoreboard')
            })
        }
    </script>
</body>
</html>